{% extends 'base.html.twig' %}

{% block body %}
    <h2>Top 10 Conférence</h2>
   <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Note</th>
            
        </tr>
        </thead>
        <tbody>
        {% for meeting in topMeeting %}
        <tr>
            <td><a href="{{ path('meeting_view', {id: meeting.id}) }}">{{ meeting.title }}</a></td>
            <td>{{ meeting.description }}</td>
            <td>{{ meeting.date|date("m/d/Y") }}</td>
            <td>{{ meeting.location}}</td>
            <td>{{ meeting.note}}/5</td>
            <td><a href="{{ path('vote_add', {id: meeting.id}) }}">Noter</a></td>
           
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}