{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Note</th>
            
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ meeting.title }}</td>
            <td>{{ meeting.description }}</td>
            <td>{{ meeting.date|date("d/m/Y") }}</td>
            <td>{{ meeting.location}}</td>
            <td>{{ meeting.note}}/5</td>
            <td><a href="{{ path('voteapp_vote_add', {id: meeting.id}) }}">Noter</a></td>
        </tr>
        </tbody>
    </table>

    {% endblock %}